%black{
  color:black;
}
%white{
  color:white;
}
.npl{
  padding-left:0;
}
.npr{
  padding-right:0;
}
.npv{
  padding-top:0;
  padding-bottom:0;
}
.nph{
  padding-right:0;
  padding-left:0;
}
.bordered{
  border:1px solid red;
}