.color5, .color11, .color13, .color16, .color18, .color19, .color20 {
  color: black;
}

.color1, .color2, .color3, .color4, .color6, .color7, .color8, .color9, .color10, .color12, .color14, .color15, .color17 {
  color: white;
}

.npl {
  padding-left: 0;
}

.npr {
  padding-right: 0;
}

.npv {
  padding-top: 0;
  padding-bottom: 0;
}

.nph {
  padding-right: 0;
  padding-left: 0;
}

.bordered {
  border: 1px solid red;
}

.color1 {
  background-color: #a253b1;
}

.color2 {
  background-color: #94566e;
}

.color3 {
  background-color: #e427a9;
}

.color4 {
  background-color: #b53d6d;
}

.color5 {
  background-color: #95e6ed;
}

.color6 {
  background-color: #fa3b39;
}

.color7 {
  background-color: #6121b7;
}

.color8 {
  background-color: #0f4a90;
}

.color9 {
  background-color: #d22b48;
}

.color10 {
  background-color: #827114;
}

.color11 {
  background-color: #dcb401;
}

.color12 {
  background-color: #1ea03c;
}

.color13 {
  background-color: #66d263;
}

.color14 {
  background-color: #a62a0e;
}

.color15 {
  background-color: #500004;
}

.color16 {
  background-color: #bbbd14;
}

.color17 {
  background-color: #4a31ad;
}

.color18 {
  background-color: #63fdf7;
}

.color19 {
  background-color: #bcc0e7;
}

.color20 {
  background-color: #937c71;
}
