.color2, .color3, .color5, .color8, .color9, .color10, .color13, .color14, .color15, .color16, .color17, .color19 { color: black; }

.color1, .color4, .color6, .color7, .color11, .color12, .color18, .color20 { color: white; }

.npl { padding-left: 0; }

.npr { padding-right: 0; }

.npv { padding-top: 0; padding-bottom: 0; }

.nph { padding-right: 0; padding-left: 0; }

.bordered { border: 1px solid red; }

.color1 { background-color: #360a54; }

.color2 { background-color: #d0ba5d; }

.color3 { background-color: #58e9ea; }

.color4 { background-color: #1c1c8e; }

.color5 { background-color: #d8c527; }

.color6 { background-color: #3c70e6; }

.color7 { background-color: #ef1710; }

.color8 { background-color: #efc0be; }

.color9 { background-color: #8aa56c; }

.color10 { background-color: #fc8915; }

.color11 { background-color: #8a7b4f; }

.color12 { background-color: #af6421; }

.color13 { background-color: #f7cd3a; }

.color14 { background-color: #2fc5a3; }

.color15 { background-color: #c6e483; }

.color16 { background-color: #d2f573; }

.color17 { background-color: #439dd4; }

.color18 { background-color: #256dd5; }

.color19 { background-color: #98fa45; }

.color20 { background-color: #965b3d; }
